rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() { return request.auth != null; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }
    function incoming() { return request.resource.data; }
    function existing() { return resource.data; }
    function isAdmin() {
     return isSignedIn() &&
       exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
       get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
   }

    function isValidTransaction(data) {
      return data.type is string
        && data.amount is number
        && data.timestamp != null;
    }

    match /test/connection {
      allow get: if isSignedIn();
    }

    match /users/{userId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn();

      allow create: if isOwner(userId)
        && incoming().uid == userId
        && incoming().isActivated == false
        && incoming().balance == 0
        && incoming().earningsWallet == 0;

      allow update: if isSignedIn() && (
        isOwner(userId)
        || isAdmin()
        || (!isOwner(userId) && incoming().diff(existing()).affectedKeys().hasOnly([
            'balance', 'earningsWallet', 'stats',
            'sponsorId', 'isAutoPlaced', 'originalReferrerId'
          ])
        )
      );
    }

    match /users {
      allow read: if isSignedIn();
    }

    match /transactions/{transactionId} {
      allow get, list: if isSignedIn() && (
        resource.data.userId == request.auth.uid || isAdmin()
      );
      allow create: if isSignedIn() && isValidTransaction(incoming());
    }

    match /referrals/{referralId} {
      allow read: if isSignedIn() && (
        resource.data.referrerId == request.auth.uid ||
        resource.data.refereeId == request.auth.uid
      );
      allow create: if isSignedIn() && incoming().refereeId == request.auth.uid;
    }

    match /trading_packages/{packageId} {
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow create: if isSignedIn() && incoming().userId == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userId == request.auth.uid;
    }

    match /withdrawalRequests/{id} {
      allow create: if isSignedIn();
      allow read: if isSignedIn() && (
        resource.data.userId == request.auth.uid || isAdmin()
      );
      allow update: if isAdmin();
    }

    match /products/{id} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /orders/{id} {
      allow create: if isSignedIn();
      allow read: if isSignedIn() && (
        resource.data.buyerId == request.auth.uid || isAdmin()
      );
      allow update: if isAdmin();
    }
  }
}
